<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xmlns:context="http://www.springframework.org/schema/context" 
             xsi:schemaLocation=" 
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
                http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context-3.2.xsd 
                http://www.springframework.org/schema/mvc 
                http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"> 
	
	<!-- 扫描Controller -->
	<context:component-scan base-package="org.framework.business.app.controller" />

	<!-- 转换器 -->
	<mvc:annotation-driven conversion-service="conversion-service" validator="validator">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
			<bean class="org.springframework.http.converter.FormHttpMessageConverter" />
			<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 校验，注入国际化数据 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<bean id="conversion-service"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
			</list>
		</property>
	</bean>

	
	<mvc:default-servlet-handler />
	
	<!-- 路径映射，这里是把主页定位到view-name配置的地址中 -->
	<mvc:view-controller path="/" view-name="redirect:user/add-user.action" />

	<!-- 本地化解析器 -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="zh" />
		<property name="cookieMaxAge" value="-1" />
	</bean>
	
	<!-- JSTL配置 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="999"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 异常处理 -->
	<bean id="exceptionResolver" class="org.framework.xcode.exception.JFrameworkExceptionResolver">
	  <property name="exceptionMappings"> 
     	<props> 
		  <prop key="org.framework.business.exception.SystemException">error/500</prop> 
          <prop key="org.framework.business.exception.BusinessException">error/errorpage</prop>
		  <prop key="java.lang.exception">error/500</prop>
       </props> 
   	  </property>
   	  <property name="defaultErrorView" value="error" />
	 <property name="defaultStatusCode" value="500" /> 
	</bean>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<bean class="org.springframework.orm.jpa.support.OpenEntityManagerInViewInterceptor">
			<property name="entityManagerFactory" ref="entityManagerFactory" />
		</bean>
		<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
	</mvc:interceptors>
	
	<bean id="multipartResolver"  
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="defaultEncoding" value="utf-8"/>
    	<property name="maxUploadSize" value="104857600" />
    	<property name="maxInMemorySize" value="4096" />
    </bean>  
    
	<!-- 匹配URL，当做静态资源 -->
	<mvc:resources mapping="/static/**" location="/WEB-INF/static/" />
	<mvc:resources mapping="/js/**" location="/WEB-INF/js/" />
	<mvc:resources mapping="/css/**" location="/WEB-INF/css/" />
	<mvc:resources mapping="/images/**" location="/WEB-INF/images/" />
</beans>